<header>
  <h1 class="header-text">Cause I have to</h1>
  <h2 class="header-text">This website is dedicated to the tracking and record keeping of police involved shootings in the Contenintal United States</h2>
</header>

<footer>
  <span class="footer-text">Copyright (c) 2015 Copyright Holder All Rights Reserved.</span>
</footer>
